.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.chessCol{
 background-color: #eee;;
  height:50px;
}
body{
  background:#333;
}

.chessBoardArea{
  border:1px solid #aaa;
  min-height:90vh;
}